body {
    background-image: url("/static/images/hi.png");
    background-size: cover;
    height: 100vh;
    font-family: 'Dokdo', cursive;
    margin:0;
}

.custom_nav{
    padding: 0;
    margin: 0 auto;
    height: 50px;
    display: flex;
    list-style: none;
    background-color: white;
    opacity: 0.5;
    align-items: center;
}
.custom_nav-item{
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.custom_nav-item > a {
    margin : auto;
    text-decoration: none;
    color: black;
    font-family: 'Dokdo', cursive;
    font-size: 25px;
}
.custom_nav-item:hover {
    background-color: powderblue;
    transition: background-color 1s;
}


.custom_nav-link.logo{
    display: block;
    width: 100%;
    height: 100%;
}
.custom_nav-link.logo > img{
    width: 100%;
    height: 100%;
}
.custom_nav-item > a:hover{
    color: rgb(180, 63, 107);
}
.custom_nav-item:last-child{
    margin-left: 60%;
}
.result {
    width: 60%;
    height: 80%;
    margin: 30px auto 0;
    background-color: white;
}



