body {
    background-image: url("/static/images/pokemon.png");
    background-size: cover;
}

.container {
    width: 360px;
    height: 380px;
    margin: 130px auto 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-item: center;
    flex-wrap: wrap;
    background-color: #B9DFFC;
    border: 1px solid #DBDBDB;
    border-radius: 100%;
    animation: flicker 1.1s infinite alternate;
}


.input_login {
    width: 200px;
    height: 40px;
    margin: 3px auto;
    padding: 0 10px;
    display: block;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    font-size: 14px;
}

.input_login::placeholder {
    font-size: 12px;
    color: #8e8e8e;
}

.input_login:focus {
    border: 1px solid #8a8a8a;
    outline: none;
}

#btn_login {
    width: 200px;
    height: 30px;
    margin: 13px auto;
    background-color: #0095f6;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;

}

#btn_login:disabled {
    background-color: #B9DFFC;
}

#btn_login:disabled:hover {
    cursor: default;
}

#btn_login:enabled:hover {
    cursor: pointer;
}

#btn_login:focus {
    outline: none;
}

a {
    cursor: default;
}


.sign_up {
    color: #00366B;
    align-self: center;
    font-size: 14px;
    margin-top: 25px;
}

.sign_up a {
    text-decoration: none;
    font-weight: bold;
    color: #0095f6;
    cursor: pointer;
}
