body {
    background: url(/static/images/re.jpg) no-repeat center;
    background-size: cover;
}
.file_upload{
    background-image: url("https://us.123rf.com/450wm/th3fisa/th3fisa1303/th3fisa130300020/18305162-%EC%9A%B0%EC%A3%BC%EC%97%90%EC%84%9C-%EA%B0%80%EC%9E%A5-%EB%B9%9B%EB%82%98%EB%8A%94-%EB%B3%84-%EB%B0%B0%EA%B2%BD.jpg");
}
.result_display{
    margin-top: -37px;
    width: 100%;
    height: 60%;
    background-position: center;
    background-size: cover;
}
#result_pokemon{
    width: 100%;
    height: 100%;
}
.result_dogam{
    display: block;
    margin-top:-28px;
    width: 100%;
    height: 45%;
    /*background: #FFB4B0;*/
    color: white;
}
.dogam{
    width: 100%;
    height: 50%;
    font-size: 25px;
    text-align: center;
    color: white;
    /*background: #FFB4B0;*/
    margin-top: -50px;
}
.result_desc{
    width: 100%;
    height: 40%;
    margin-top: 10px;
}
.desc{
    width: 100%;
    height: 100%;
    margin-left: 10px;
    font-size: 20px;
}