<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>업로드</title>
        <link href="../static/style/index.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <div class="main_container">
            <div class="img_box"><img class="origin_img" src="000.png"><p><button>업로드</button></p>
            </div>
            <div class="content_box">
                <p class="label"><button>결과 확인</button></p>
            </div>
        </div>
    </body>
</html>