<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>pokemon</title>
    <link href="../static/style/login.css" rel="stylesheet" type="text/css"/>
    <link rel="instagram-icon" href="../static/img/favicon.png">
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dokdo&family=Noto+Serif+KR:wght@600&family=Pacifico&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <p>findpokemon</p>
    <input type="text" class="input_login" name="user_id" id="user_id" placeholder="이메일">
    <input type="password" class="input_login" name="password" id="password" placeholder="비밀번호">
    <button id="btn_login">로그인!</button>
    <span class="sign_up">계정이 없으신가요? <a href="/signup">가입하기</a></span>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="../static/js/login.js"></script>
</body>
</html>