<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>pokemon</title>
    <link href="../static/style/signup.css" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dokdo&family=Noto+Serif+KR:wght@600&family=Pacifico&display=swap" rel="stylesheet">


</head>
<body>
<p>findpokemon</p>
<div class="container">
    <!--    <img class="logo_instagram" src="" alt="instagram_logo">-->

    <input type="text" class="input_login" name="user_id" id="new_user_id" placeholder="이메일">
    <input type="password" class="input_login" name="password" id="new_password" placeholder="비밀번호">
    <input type="text" class="input_login" name="nickname" id="new_nickname" placeholder="닉네임">
    <button id="btn_signup">회원가입</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="../static/js/signup.js"></script>
</body>
</html>